*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

#experience{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

}
#experience-canvas{
    width: 100%;
    height: 100%;
}
.modal{
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 700px;
    background-color: #ad8671;
    border: 2px solid #fff;
    color: #fff;
}
.modal-wrapper{
padding: 12px;

}
.modal-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* utilities */
.hidden{
    display: none;
}